* {
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #000; */
  padding: 42px;
}

#employees {
  max-height: 700px;
  overflow-y: scroll;
}

.Table_header {
  text-align: start;
}

#tasks .dx-treelist-rowsview td {
  vertical-align: middle;
}

.img,
.name {
  display: inline-block;
  vertical-align: middle;
}

.img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
  border: 1px solid lightgray;
  background-color: #fff;
}



.dx-treelist-collapsed :before {
  margin-top: -16px !important;
  content: "+" !important;
}

.dx-treelist-expanded :before {
  content: "-" !important;
  margin-top: -16px !important;
}

.drawer {
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.drawer.expanded {
  width: 300px;
}

.bottom-drawer {
  height: 150px;
}

.drag_icon {
  margin-right: 10px;
}




.Container {
  display: flex;
}


.header-tabs-buttons {
  display: flex;
  justify-content: flex-start;
}

.dx-row-lines {
  position: relative !important;
}

.temp {
  border-left: 2px dotted red;
  position: absolute;
  bottom: -50%;
}

.temp2 {
  border-top: 2px dotted red;
  height: 2px;
  /* background-color: red; */
  /* width: 1%; */
  position: absolute;
  bottom: -51%;

}

.sidebar {
  height: 200px;
  min-width: 340px;
  background-color: pink;
}

.dx-fieldset,
.dx-field {
  width: 100%;
  height: calc(100% - 60px);
}

.dx-fieldset-bottom,
.dx-field-bottom {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}



#gridContainer {
  height: 300px;
  margin-left: 10px;
  transform: translate(0px, 0px) !important;
}

#gridContainer_bottom {
  height: 100px;
  margin-top: 10px;
  /* margin-left: -10px; */

}

#grid {
  border: 1px solid black;
}